<!DOCTYPE html SYSTEM
        "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- META -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<title>The TCC Playground</title>
	
	<!-- FAVICON -->
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" href="../static/img/favicon.ico" />
	
	<!-- CORE CSS -->
	<link th:href="@{/js/plugins/bootstrap/css/bootstrap.min.css}" href="../static/js/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" />
	<link th:href="@{/css/helpers.css}" href="../static/css/helpers.css" rel="stylesheet" />
	
	<!-- PLUGINS -->
	<link th:href="@{/js/plugins/font-awesome/css/font-awesome.min.css}" href="../static/js/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link th:href="@{/js/plugins/ionicons/css/ionicons.min.css}" href="../static/js/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
	<link th:href="@{/js/plugins/animate/animate.min.css}" href="../static/js/plugins/animate/animate.min.css" rel="stylesheet" />
	<link th:href="@{/js/plugins/animate/animate.delay.css}" href="../static/js/plugins/animate/animate.delay.css" rel="stylesheet" />
	<link th:href="@{/js/plugins/owl-carousel/owl.carousel.css}" href="../static/js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
</head>

<body class="header-fixed">
<!-- HEADER        				 -->
	<header>
		<div class="container">
		<span class="bar hide"></span>
		<a class="logo"><img th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="" /></a>
		<nav>
			<div class="nav-control">
				<ul>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle">Home <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu default">
							<li><a href="index2.html">Home - Mazagine</a></li>
							<li><a href="#">Home - Mazagine 2 <span class="label label-info pull-right">soon</span></a></li>
							<li><a href="#">Home - Mazagine 3 <span class="label label-info pull-right">soon</span></a></li>
							<li><a href="index.html">Home - Games</a></li>
							<li><a href="#">Home - Videos <span class="label label-info pull-right">soon</span></a></li>
						</ul>
					</li>
					<li class="dropdown mega-dropdown">
						<a href="games.html">Games <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu mega-dropdown-menu category row">
							<li class="col-lg-2 col-md-2 col-sm-3">
								<ul>
									<li class="dropdown-header">Platforms</li>
									<li class="active"><a href="#"><i class="fa fa-desktop"></i>All Platforms</a></li>
									<li><a href="#"><i class="ion-playstation font-size-14"></i>PS4</a></li>
									<li><a href="#"><i class="ion-playstation font-size-14"></i>PS3</a></li>
									<li><a href="#"><i class="ion-xbox font-size-14"></i>Xbox One</a></li>
									<li><a href="#"><i class="ion-xbox font-size-14"></i>Xbox 360</a></li>
									<li><a href="#"><i class="ion-steam font-size-14"></i>Wii-U</a></li>
									<li><a href="#"><i class="ion-mouse font-size-14"></i>Table Sports</a></li>
									<li><a href="#"><i class="ion-steam font-size-14"></i>Board Games</a></li>
								</ul>
							</li>
							<li class="col-lg-4 col-md-3">
								<a href="#">
									<img src="C:\playgroundPirates\src\main\resources\static\img\ps3-needforspeed.350x230.png" alt="Need for Speed: the run" />
									<div class="caption">
										<span class="label label-warning">PC</span>
										<h3>Need For Speed: The Run</h3>
										<p style="color:black">It's called The Run. Three-thousand miles of unforgiving asphalt from San Francisco to New York...</p>
									</div>
								</a>
							</li>
							<li class="col-lg-4 col-md-3">
								<a href="#">
									<img src="C:\playgroundPirates\src\main\resources\static\img\xbox-360-sonicultimategenesiscollection.350x230.png" alt="" />
									<div class="caption">
										<span class="label label-primary">PS4</span>
										<h3>Sonic Ultimate Genesis</h3>
										<p style="color:black">
										Take a trip back in time to the heyday of the SEGA Genesis console by way of your Xbox 360 with Sonic's Ultimate Genesis Collection. 
										</p>
									</div>
								</a>
							</li>
							<li class="col-lg-2 col-md-3">
								<ul>
									<li class="dropdown-header">Genres</li>
									<li><a href="#">Action</a></li>
									<li><a href="#">Adventure</a></li>
									<li><a href="#">FPS</a></li>
									<li><a href="#">Indie</a></li>
									<li><a href="#">Strategy</a></li>
									<li><a href="#">RPG</a></li>
									<li><a href="#">Simulation</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown mega-dropdown mega-dropdown-sm">
						<a href="#">Events<i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu mega-dropdown-menu row">
							<li class="col-lg-6">
								<ul>
									<li class="dropdown-header">Events</li>
									<li><a href="timeline.html">User Events</a></li>
									<li><a href="timeline.html">Recent Events</a></li>
								</ul>
							</li>
							<li class="col-lg-6">
								<ul>
									<li class="dropdown-header">Past Events</li>
									<li><a href="timeline.html">Timeline</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				</div>
			</nav>
			<div class="nav-right">
				<div class="nav-profile">
					<a href="#" id="nav-profile" class="profile dropdown-toggle" data-toggle="dropdown"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /> <span>TCC Student</span></a>
					<ul class="dropdown-menu" aria-labelledby="nav-profile">
						<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> Signup <span class="label label-info pull-right">32</span></a></li>
						<li><a href="#"><i class="fa fa-gamepad"></i> Games</a></li>
						<li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-sign-out"></i> Sign Out</a></li>
					</ul>
				</div>
				<div class="nav-likes">
					<a href="#" id="nav-likes" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-heart"></i></a>
					<ul class="dropdown-menu" aria-labelledby="nav-likes">
						<li class="dropdown-header"><i class="fa fa-heart-o"></i> You have 5 likes</li>
						<li><a href="#"><img src="holder.js/32x32" alt="" /> Alien Isolation</a></li>
						<li><a href="#"><img src="holder.js/32x32" alt="" /> Witcher 3 <span class="label label-success pull-right">XBOX</span></a></li>
						<li><a href="#"><img src="holder.js/32x32" alt="" /> Last of Us</a></li>
						<li><a href="#"><img src="holder.js/32x32" alt="" /> Uncharted 4 <span class="label label-primary pull-right">PS4</span></a></li>
						<li><a href="#"><img src="holder.js/32x32" alt="" /> GTA 5 <span class="label label-warning pull-right">PC</span></a></li>
						<li class="dropdown-footer"><a href="#">View all likes</a></li>
					</ul>
				</div>
				<a href="#" data-toggle="modal-search"><i class="fa fa-search"></i></a>
			</div>
		</div>
	</header>
	<!-- /header -->
	
	
	<!--search feature
	
	<div class="modal-search">
		<div class="container">
			<input type="text" class="form-control" placeholder="Type to search..." />
			<i class="fa fa-times close"></i>
		</div>
	</div> /search -->
	
	<!-- Content -->
	<div id="wrapper" >	
		
		
<!-- BEGIN SLIDER PHOTO -->
<div id="full-carousel" class="carousel slide full-carousel carousel-fade" data-ride="carousel">
			<div class="carousel-inner" role="listbox"  >
			
				<div class="item" th:each="event, iterstat : ${events}" th:classAppend="${iterstat.first}? ' active'" >
					<!-- need to update with the correct file name.  -->
					<img src="holder.js/1920x630" class="full-width" alt=""/>
					<div class="carousel-caption" >
					<div class="carousel-caption" style="align:middle; padding:0px 20%; width:100%">
						<h1 data-animation="animated animate1 fadeInDown" th:text="${event.name}"></h1>
						<p data-animation="animated animate7 fadeIn" th:text="${event.desc} "></p>
						<p style="font-size:150%" data-animation="animated animate7 fadeIn" th:text="${event.desc} "></p>
						
						<p data-animation="animated animate7 fadeIn" th:text="${#temporals.format(event.start, 'MMM dd hh:mm a')}"></p>
						<a href="#signin" data-toggle="modal" class="btn btn-primary btn-lg btn-rounded text-uppercase" data-animation="animated animate10 fadeIn">Became a member now</a>
						<p style="font-size:200%" data-animation="animated animate7 fadeIn" th:text="${#temporals.format(event.start, 'MMM dd hh:mm a')}"></p><br/>
						<a href="#signin" data-toggle="modal" class="btn btn-primary btn-lg btn-rounded text-uppercase" data-animation="animated animate10 fadeIn">Become a member now</a>
					</div>
				</div>
					<a class="left carousel-control" href="#full-carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#full-carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
			</div>	
				
							
				
			
		</div>




<!-- END SLIDER PHOTO -->
			
				
		<!-- BEGIN OTHER EVENTS -->
		<section class="bg-grey-50 padding-top-40 no-padding-bottom relative border-bottom-1 border-grey-200">			
			<div class="container">
				
				<div class="row" >
				
				
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"  th:each="event : ${otherEvents}" >
						<div class="entry-post list">
							<div class="thumb">
								<img src="holder.js/270x150" alt="" />
							</div>
							<div class="caption">
								<h3 class="main-title" th:text="${event.name}" ></h3>
								<p th:text="${#temporals.format(event.start, 'MMM dd hh:mm a')}"></p>
								<p th:text="${event.desc}"></p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- END OTHER EVENTS -->
				
		<section class="padding-top-40 padding-bottom-40">	
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right-1 border-grey-200 no-border-sm">
						<div class="page-header margin-bottom-30 no-margin-bottom-xs height-35">
							<h4 class="pull-left">Top Games</h4>
							
							<div class="pull-right dropdown hidden-xs text-initial"> 
								sort by: 
								<a href="#" id="orderby" class="btn btn-xs btn-default margin-left-5 padding-right-10 padding-left-10 dropdown-toggle text-initial" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">category <i class="fa fa-angle-down no-margin-right"></i></a>
								<ul class="dropdown-menu" aria-labelledby="orderby">
									<li><a href="#" class="text-initial">category</a></li>
									<li><a href="#" class="text-initial">Platform</a></li>
									<li><a href="#" class="text-initial">Popularity</a></li>
									
								</ul>
							</div>
						</div>
						
						<div class="post post-md" th:each="game : ${topGames}">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding-xs no-padding-sm margin-bottom-xs-15 margin-bottom-sm-15">
									<a href="#"><img src="holder.js/240x160" alt="" /></a>
								</div>
								
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding-xs no-padding-sm">
									<div class="post-header">
										<div class="post-title">
											<h3 class="font-size-20" th:text="${game.name}">TITLE</h3>
										</div>
									</div>
									
									<p class="font-size-13 line-height-18" th:test="${game.desc}" >desc</p>
								
									<ul class="post-meta">
										<li><i class="fa fa-user margin-right-5"></i> <a href="#">YAKUZI</a></li>
										<li><i class="fa fa-calendar margin-right-5"></i> Dec 18, 2015</li>
										<li><i class="fa fa-comments margin-right-5"></i> <a href="blog-post.html">0 <span class="hidden-xs">Comments</span></a></li>
									</ul>
								</div>
							</div>
							<div class="divider"></div>
						</div>
						
						
							
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding-xs no-padding-sm">
									<div class="post-header">
										<div class="post-title">
											<h3 class="font-size-20"><a href="blog-post.html">Star Wars: Battlefront, "May The Force Be With You" in The Playground!</a></h3>
										</div>
									</div>
									
									<p class="font-size-13 line-height-18">The Force Awakens in The Playground!  Crush Rebel scum or fight the Imperial forces as a part of the Rebel Alliance!</p>
								
									<ul class="post-meta">
										<li><i class="fa fa-user margin-right-5"></i> <a href="#">YAKUZI</a></li>
										<li><i class="fa fa-calendar margin-right-5"></i> Dec 18, 2015</li>
										<li><i class="fa fa-comments margin-right-5"></i> <a href="blog-post.html">0 <span class="hidden-xs">Comments</span></a></li>
									</ul>
								</div>
							</div>
							<div class="divider"></div>
						</div>
<!-->>>>>>> origin/master -->
						
						
						<div class="post post-md">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding-xs no-padding-sm margin-bottom-xs-15 margin-bottom-sm-15">
									<a href="#"><img src="holder.js/240x160" alt="" /></a>
								</div>
							
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding-xs no-padding-sm">
									<div class="post-header">
										<div class="post-title">
											<h3 class="font-size-20"><a href="blog-post.html">Fallout 4, kill time between class in this epic RPG!</a></h3>
										</div>
									</div>
									
									<p class="font-size-13 line-height-18">It's you and your dog trying to surive!</p>
								
									<ul class="post-meta">
										<li><i class="fa fa-user margin-right-5"></i> <a href="#">YAKUZI</a></li>
										<li><i class="fa fa-calendar margin-right-5"></i> Dec 18, 2015</li>
										<li><i class="fa fa-comments margin-right-5"></i> <a href="blog-post.html">0 <span class="hidden-xs">Comments</span></a></li>
									</ul>
								</div>
							</div>
							<div class="divider"></div>
						</div>
						
						
						<div class="post post-md">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding-xs no-padding-sm margin-bottom-xs-15 margin-bottom-sm-15">
									<a href="#"><img src="holder.js/240x160" alt="" /></a>
								</div>
							
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding-xs no-padding-sm">
									<div class="post-header">
										<div class="post-title">
											<h3 class="font-size-20"><a href="blog-post.html">World Of Warcraft goes on the livescreen!</a></h3>
										</div>
									</div>
									
									<p class="font-size-13 line-height-18">Will WOW be faithful to its roots?</p>
								
									<ul class="post-meta">
										<li><i class="fa fa-user margin-right-5"></i> <a href="#">YAKUZI</a></li>
										<li><i class="fa fa-calendar margin-right-5"></i> Dec 18, 2015</li>
										<li><i class="fa fa-comments margin-right-5"></i> <a href="blog-post.html">0 <span class="hidden-xs">Comments</span></a></li>
									</ul>
								</div>
							</div>
							<div class="divider"></div>
						</div>
						
						
						<div class="post post-md">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding-xs no-padding-sm margin-bottom-xs-15 margin-bottom-sm-15">
									<a href="#"><img src="holder.js/240x160" alt="" /></a>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding-xs no-padding-sm">
									<div class="post-header">
										<div class="post-title">
											<h3 class="font-size-20"><a href="blog-post.html">Call Of Duty Black Ops III AKA COD meets cyborgs!</a></h3>
										</div>
									</div>
									
									<p class="font-size-13 line-height-18">It's the future of COD with cybernetic enhancements!</p>
								
									<ul class="post-meta">
										<li><i class="fa fa-user margin-right-5"></i> <a href="#">YAKUZI</a></li>
										<li><i class="fa fa-calendar margin-right-5"></i> Dec 18, 2015</li>
										<li><i class="fa fa-comments margin-right-5"></i> <a href="blog-post.html">0 <span class="hidden-xs">Comments</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="text-center"><a href="#" class="btn btn-primary btn-rounded btn-shadow margin-top-10">Load more</a></div>
						<h4 class="page-header margin-bottom-30 margin-top-40">Top News</h4>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding-xs no-padding-sm">
								<div class="entry-post list">
									<div class="thumb">
										<img src="holder.js/240x130" alt="" />
										<div class="thumb-info"><span class="label label-primary">PS4</span></div>
										<div class="thumb-nav"><a href="#"><i class="fa fa-comments"></i> <span>33</span></a></div>
									</div>
									<div class="caption">
										<h3 class="main-title"><a href="#">Fallout 4 Live Stream</a></h3>
										<div class="font-size-12 margin-top-10 hidden-xs">Want tips on beating Fallout 4 or want to watch a pro play it? Stop by The Playground and check it out!</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding-xs no-padding-sm">
								<div class="entry-post list">
									<div class="thumb">
										<img src="holder.js/240x130" alt="" />
										<div class="thumb-info"><span class="label label-warning">PC</span></div>
										<div class="thumb-nav"><a href="#"><i class="fa fa-comments"></i> <span>20</span></a></div>
									</div>
									<div class="caption">
										<h3 class="main-title"><a href="#">Super Smash Brothers Tournament!</a></h3>
										<div class="font-size-12 margin-top-10 hidden-xs">Mario VS Luigi VS Pikachu VS Samus and more, it's the ultimate Nintendo mashup!</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding-xs no-padding-sm">
								<div class="entry-post list">
									<div class="thumb">
										<img src="holder.js/240x130" alt="" />
										<div class="thumb-info"><span class="label label-success">Xbox</span></div>
										<div class="thumb-nav"><a href="#"><i class="fa fa-comments"></i> <span>41</span></a></div>
									</div>
									<div class="caption">
										<h3 class="main-title"><a href="#">Mirror's Edge 2 Speed Run</a></h3>
										<div class="font-size-12 margin-top-10 hidden-xs">Mirror's Edge 3 is on the way, get some practice by playing the 2nd game!</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-top-sm-15">
						<a href="#signin" data-toggle="modal" class="btn btn-block btn-primary margin-bottom-30 padding-10">Sign in to The Playground</a>
						
						<div class="widget">
							<div class="title">Recent Players</div>
							<ul class="game-list">
								<li style="background-image: url(img/cover/cover.jpg);">
									<a href="#" class="overlay">
										<span class="number">1</span>
										<div class="game-meta">
											<h4 class="game-title">The Witcher 3: Wild Hunt</h4>
											<span>Nov 17, 2015</span>
										</div>
									</a>f
								</li>
								<li style="background-image: url(img/cover/cover.jpg);">
									<a href="#" class="overlay">
										<span class="number">2</span>
										<div class="game-meta">
											<h4 class="game-title">Uncharted 4: A Thief's End</h4>
											<span>Nov 17, 2015</span>
										</div>
									</a>
								</li>
								<li style="background-image: url(img/cover/cover.jpg);">
									<a href="#" class="overlay">
										<span class="number">3</span>
										<div class="game-meta">
											<h4 class="game-title">Last of Us: Remastered</h4>
											<span>Nov 17, 2015</span>
										</div>
									</a>
								</li>
								<li style="background-image: url(img/cover/cover.jpg);">
									<a href="#" class="overlay">
										<span class="number">4</span>
										<div class="game-meta">
											<h4 class="game-title">Grand Theft Auto 5</h4>
											<span>Nov 17, 2015</span>
										</div>
									</a>
								</li>
								<li style="background-image: url(img/cover/cover.jpg);">
									<a href="#" class="overlay">
										<span class="number">5</span>
										<div class="game-meta">
											<h4 class="game-title">Assassin's Creed: Syndicate</h4>
											<span>Nov 17, 2015</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
						
						<div class="widget">
							<div class="title">Recent Players</div>
							<div class="widget-list player">
								<ul>
									<li>
										<a href="#" class="thumb" data-toggle="tooltip" title="YAKUZI"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Dennis A.</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i>February 04, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb" data-toggle="tooltip" title="YAKUZI"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Josh B.</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i>February 03, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb" data-toggle="tooltip" title="YAKUZI"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Bob C.</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i>February 03, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb" data-toggle="tooltip" title="Nathan Drake"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Larry D.</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i>February 03, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb" data-toggle="tooltip" title="YAKUZI"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Chuck E.</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i>February 02, 2016</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="widget">
							<div class="title">Recent Posts</div>
							<div class="widget-list">
								<ul>
									<li>
										<a href="#" class="thumb"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">"Anyone want to play pool?"</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i> February 04, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">"Who wants to watch Ant-Man on Friday?"</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i> February 03, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Magic: The Gathering tournament this weekend!</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i> February 02, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Who wants to play Chess?</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i> January 30, 2016</p>
										</div>
									</li>
									<li>
										<a href="#" class="thumb"><img th:src="@{/img/user/avatar.jpg}" src="../static/img/user/avatar.jpg" alt="" /></a>
										<div class="widget-list-meta">
											<h4 class="widget-list-title"><a href="#">Who has Pogs?</a></h4>
											<p><i class="fa fa-clock-o margin-right-5"></i>January 30, 2016</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
	
			
		</section>
	</div>
	
	
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="widget row">
				<div class="col-lg-5 col-xs-12">
					<h4 class="title">About The Playground</h4>
					<p>The TCC Playground is where you can go beyond education and have some fun between classes. Immerse yourself in various forms of entertainment, from video games to tabletop games. We also have Collectible Card Games. Want to relax? Check out our movie theater.<br /> <br />Come on by, don't miss out on the fun!</p>
				</div>
					
				<div class="col-lg-3 col-xs-12">
					<h4 class="title">Categories</h4>
					<div class="row">
					<div class="col-lg-6 no-padding-xs no-padding-sm no-padding-md">	
					<ul class="nav">
						<li><a href="#">PS4</a></li>
						<li><a href="#">PS3</a></li>
						<li><a href="#">XBOX One</a></li>
						<li><a href="#">Xbox 360</a></li>
					    <li><a href="#">Wii-U</a></li>
					    <li><a href="#">Steam</a></li>
					    <li><a href="#">Table Sports</a></li>
						<li><a href="#">Board Games</a></li>
					</ul>
					</div>
					<div class="col-lg-6 no-padding-xs no-padding-sm no-padding-md">
					<ul class="nav">
						<li><a href="#">Events</a></li>
						<li><a href="#">Players</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					</div>
					</div>
				</div>
		
				<div class="col-lg-4 col-xs-12">
					<h4 class="title">Email Newsletters</h4>
					<p>Subscribe to our newsletter and get notification when new games and events are available.</p>
					<form method="post" class="margin-top-25 btn-inline">
						<input type="text" class="form-control form-inverse input-lg no-border no-shadow padding-right-40" placeholder="Email..." />
						<button type="submit" class="btn btn-link color-white margin-top-5"><i class="fa fa-envelope color-white"></i></button>
					</form>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">	
				<ul class="list-inline">
					<li><a href="#" class="btn btn-circle btn-social-icon btn-twitter" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="btn btn-circle btn-social-icon btn-facebook" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="btn btn-circle btn-social-icon btn-google-plus" data-toggle="tooltip" title="Follow us on Google"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="btn btn-circle btn-social-icon btn-flickr" data-toggle="tooltip" title="Follow us on Flickr"><i class="fa fa-flickr"></i></a></li>
				</ul>
				&copy; 2016 TCC Playground. All rights reserved.
			</div>
		</div>
	</footer>	
	<!-- /.footer -->
	
	<div id="signin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signin-title" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="signin-title"><i class="fa fa-sign-in"></i> Sign In</h3>
				</div>
				<form>
				<div class="modal-body modal-padding">
					<a class="btn btn-block btn-social btn-facebook margin-bottom-10 border-radius-6"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
						
					<div class="separator"><span>or</span></div>
					<input type="text" class="form-control input-lg" name="username" placeholder="Email address" required="required" />
					<span class="help-block"></span>				
					<input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required" />
					<div class="checkbox margin-top-20 no-margin-bottom">
						<input type="checkbox" id="checkbox" checked="checked" />
						<label for="checkbox">Remember me</label>
					</div>
				</div>
				<div class="modal-footer bg-white no-border margin-bottom-10">
					<button type="submit" class="btn btn-lg btn-block btn-success">Login</button>
					<div class="text-center"><a href="#" class="color-grey-600 margin-top-20 display-block">Already have an account?</a></div>
				</div>
				</form>
			</div>
		</div>
	</div><!-- /.modal --> 
	
	<!-- Javascript -->
	<script th:src="@{/js/plugins/jquery/jquery-1.11.1.min.js}" src="../static/js/plugins/jquery/jquery-1.11.1.min.js"></script>
	<script th:src="@{/js/plugins/bootstrap/js/bootstrap.min.js}" src="../static/js/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script th:src="@{/js/plugins/owl-carousel/owl.carousel.min.js}" src="../static/js/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script th:src="@{/js/plugins/core.js}" src="../static/js/plugins/core.js"></script>
    <script src="holder.js"></script>
	<script>
	(function($) {
	"use strict";
		var owl = $(".owl-carousel");
			 
		owl.owlCarousel({
			items : 4, //4 items above 1000px browser width
			itemsDesktop : [1000,2], //3 items between 1000px and 0
			itemsTablet: [600,1], //1 items between 600 and 0
			itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
		}); 
	})(jQuery);
	</script>
</body>
</html>
